@use "../base/mixins" as *;

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include text-style(
    var(--card-text),
    var(--primary-font),
    var(--font-small),
    600
  );

  &__article-writer {
    @include spacing(20px, left);
    order: -1;
  }

  &__date {
    @include spacing(20px, left);
  }

  &__title {
    @include text-style(var(--primary-color), var(--primary-font), 36px, 400);

    line-height: 48px;
  }

  &__desc {
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__image-wrapper {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__byline-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: "";
      width: 2px;
      height: 16px;
      background: rgb(208 215 251 / 0.17);
      border-radius: 2px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: inline-block;
    width: max-content;
    padding: 5px 12px;
  }

  &__image {
    object-fit: cover;
    max-width: 100%;

    &--pos20 {
      object-position: 100% 20%;
      height: 198px;
    }

    &--pos40 {
      object-position: 100% 40%;
      height: 198px;
    }
  }
}

@include tablet {
  .blog-card {
    &__image {
      height: 210px;
    }

    &__title {
      font-size: 28px;
      line-height: 36px;
    }

    &__desc {
      -webkit-line-clamp: 1;
      line-clamp: 1;
    }
  }
}

@include phone {
  .blog-card {
    &__image {
      height: 340px;
    }

    &__title {
      font-size: 24px;
      line-height: 32px;
    }

    &__desc {
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
  }
}
