@use "../base/mixins" as mixins;
@use "../base/variables" as vars;
.form {
  margin-inline: auto;
  max-width: 640px;
  align-items: center;
  gap: 24px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    text-transform: none;
  }

  &__title-desc {
    font-style: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
  }

  &__consent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(29 28 40);
    padding: 24px;
    box-sizing: border-box;
  }

  &__toggle {
    margin-right: 40px;
  }

  &__slider-label {
    display: inline-block;
    width: 40px;
    height: 24px;
    background: rgb(229 236 251 / 0.36);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      top: 4px;
      background: rgb(255 255 255);
    }
  }

  &__slider-input:checked + &__slider-label {
    background: var(--secondary-color);
  }

  &__slider-input:checked + &__slider-label::before {
    transform: translateX(20px);
  }

  &__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 4px;
  }

  &__item-label {
    font-style: var(--primary-font);
    font-weight: 400;
    font-size: var(--font-small);
    line-height: 20px;
  }

  &__item-input {
    color: vars.$primary-color;
    background: transparent;
    border: 2px solid rgb(208 215 251 / 0.17);

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }

    &:valid {
      border: 2px solid rgb(0 143 93);
    }

    &:not([type="date"]):invalid:user-invalid {
      border: 2px solid rgb(234 56 41);
    }

    &[type="date"]:invalid:user-invalid {
      border: 2px solid rgb(234 56 41);
    }
  }

  &__item-radio {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__item-radio-label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    color: var(--primary-color);

    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid rgb(212 217 242 / 0.26);
      cursor: pointer;
    }
  }

  &__item-radio-input:checked + &__item-radio-label::before {
    border: 5px solid rgb(2 101 220);
    background-color: rgb(13 13 21);
  }

  &__item-textarea {
    box-sizing: border-box;
    max-width: 100%;
    width: 640px;
    min-height: 188px;
    background: transparent;
    border: 2px solid rgb(208 215 251 / 0.17);
    color: var(--primary-color);

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  &__link {
    color: rgb(120 187 250);
  }

  &__item-checkbox-label {
    position: relative;
    padding-left: 28px;
    font-style: var(--primary-font);
    font-weight: 400;
    font-size: var(--font-small);
    line-height: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
      border: 2px solid rgb(212 217 242 / 0.26);
      border-radius: 4px;
      background-color: rgb(13 13 21);
      cursor: pointer;
    }
  }

  &__item-checkbox-input:checked + &__item-checkbox-label::before {
    background-color: rgb(2 101 220);
    background-image: url("/img/images/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 6px;
    cursor: pointer;
  }

  &__item-button {
    width: 100%;
  }
}
