@use "../base/mixins" as mixins;
.product-card__label {
  position: absolute;
  top: 10px;
  left: 150px;
}

.label {
  @include mixins.text-style(
    var(--secondary-color),
    var(--primary-font),
    var(--font-small),
    600
  );
  background-color: var(--primary-color);
  line-height: 20px;

  &--updated {
    background-color: rgb(234 56 41);
    color: var(--primary-color);
  }
}
