@use "../base/mixins" as mixins;

.label {
  @include mixins.text-style(
    var(--secondary-color),
    var(--primary-font),
    var(--font-small),
    600
  );
  background-color: var(--primary-color);
  line-height: 20px;
  padding: 8px 10px;

  &--updated {
    background-color: rgb(234 56 41);
    color: var(--primary-color);
  }
}
