@use "../base/mixins" as mixins;
.nav {
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    @include mixins.text-style(
      var(--primary-color),
      var(--primary-font),
      var(--font-base),
      600
    );
    @include mixins.spacing(24px, center);
    padding: 4px 20px;

    &--selected {
      border-bottom: 2px solid var(--secondary-color);
    }

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }

    &:hover {
      color: var(--button-color);
    }

    &:focus {
      color: var(--primary-color);
      outline: 4px solid var(--button-color);
      border-radius: 5px;
    }

    &:active {
      color: rgb(0 84 182);
    }
  }
}
