@use "../base/mixins" as mixins;
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  &__price {
    @include mixins.text-style(
      var(--primary-color),
      var(--secondary-font),
      36px,
      400
    );
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  &__image {
    object-fit: cover;
    margin-bottom: 24px;
    max-width: 100%;
  }

  &__name {
    @include mixins.text-style(
      var(--card-text),
      var(--primary-font),
      20px,
      500
    );
    line-height: 28px;
    text-align: left;
  }

  &__label {
    position: absolute;
    top: 35px;
    right: 35px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@include mixins.phone {
  .product-card {
    gap: 16px;
    padding: 16px;

    &__img-wrapper {
      display: flex;
      justify-content: center;
    }

    &__price {
      font-size: 28px;
      line-height: 36px;
    }

    &__name {
      font-size: 20px;
      line-height: 28px;
    }

    &__info {
      gap: 24px;
    }
  }
}
