@use "../base/mixins" as mixins;
.product-card {
  &__price {
    @include mixins.text-style(
      var(--primary-color),
      var(--secondary-font),
      36px,
      400
    );
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  &__image {
    object-fit: cover;
  }
  &__name {
    @include mixins.text-style(
      var(--card-text),
      var(--primary-font),
      20px,
      500
    );

    line-height: 28px;
    text-align: left;
  }
}
