@use "../base/mixins" as mixins;

.form {
  &__search {
    position: relative;
  }

  &__search-button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 15px;
    left: -2px;
  }

  &__search-icon {
    width: 20px;
    height: 20px;
  }
}

.search {
  &__input {
    @include mixins.button-base;
    border: 2px solid var(--border-color);
    background: transparent;

    &::placeholder {
      color: var(--primary-color);
      opacity: 0.6;
    }

    &:hover {
      border: 2px solid var(--button-color);
    }

    &:focus-visible {
      outline: none;
    }
    &:focus,
    &:active {
      border: 3px solid var(--button-color);
    }
  }
}
