{% extends "layouts/base.njk" %}

{% block content %}
  <main class="main">
    {% include "partials/main-banner.njk" %}
    {% include "partials/catalog.njk" %}
    {% include "partials/our-blog.njk" %}
    {% include "partials/about-us.njk" %}
    {% include "partials/our-team.njk" %}
    {% include "partials/faq.njk" %}
  </main>
{% endblock %}