@use "../base/mixins";
.about-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px;

  &__title {
    @include mixins.text-style(
      var(--primary-color),
      var(--secondary-font),
      36px,
      400
    );
    @include mixins.spacing(48px, center);
    letter-spacing: -0.5px;
    margin-bottom: 16px;
  }

  &__desc {
    @include mixins.text-style(
      var(--card-text),
      var(--primary-font),
      20px,
      500
    );
    @include mixins.spacing(28px, center);
    margin-bottom: 40px;
  }

  &__list {
    list-style-type: none;
  }

  &__list-title {
    @include mixins.text-style(
      var(--primary-color),
      var(--secondary-font),
      24px,
      400
    );
    @include mixins.spacing(32px, left);
    margin-bottom: 24px;
  }

  &__list-desc {
    @include mixins.text-style(
      var(--card-text),
      var(--primary-font),
      18px,
      400
    );
    @include mixins.spacing(28px, left);
  }

  &__list-item {
    padding: 38px;
    background-color: rgba(26, 25, 37, 1);
  }

  &__button {
    margin-inline: auto;
  }
}
