@use "../base/mixins" as mixins;
.catalog {
  .layout-container--flex {
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &::before {
      content: "";
      height: 2px;
      background: rgb(208 215 251 / 0.17);
      border-radius: 2px;
      flex-grow: 1;
    }
  }

  &__group-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }

  &__title {
    @include mixins.text-style(
      var(--text-color),
      var(--secondary-font),
      24px,
      400
    );
    line-height: 32px;
    order: -1;
  }

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    gap: 24px;
  }

  &__list-item {
    background: var(--card-background);
  }
}
