@use "../base/mixins" as mixins;
.catalog {
  &__title {
    @include mixins.text-style(
      var(--text-color),
      var(--secondary-font),
      24px,
      400
    );
    line-height: 32px;
    text-align: left;
  }

  &__list {
    list-style-type: none;
  }

  &__list-item {
    background: var(--card-background);
    padding: 24px;
  }
}
