@use "../base/mixins" as mixins;
.faq {
  padding: 64px;

  &__title {
    @include mixins.text-style(
      var(--text-color),
      var(--secondary-font),
      36px,
      400
    );
    @include mixins.spacing(48px, center);
    letter-spacing: -0.5px;
    text-transform: uppercase;
  }

  &__list {
    list-style-type: none;
    margin: 64px;
    margin-bottom: 0;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__list-item {
    background-color: var(--card-background);
    padding: 24px 24px 32px 24px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__question {
    position: relative;
    @include mixins.text-style(
      var(--primary-color),
      var(--secondary-font),
      24px,
      400
    );
    @include mixins.spacing(32px, left);
    padding-bottom: 20px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: rgb(208 215 251 / 0.17);
    }
  }

  &__answer {
    @include mixins.text-style(
      var(--primary-color),
      var(--primary-font),
      24px,
      400
    );
    @include mixins.spacing(24px, left);
  }
}
