.faq__title {
    color:rgba(248, 247, 255, 1);
    font-family: var(--secondary-font);
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
    text-transform: uppercase;
  }
  .faq__question {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  
  .faq__answer {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  .faq__list {
    list-style-type: none;
  }  