@use "../base/mixins" as mixins;

.footer {
  background-color: rgb(26 25 37 / 1);

  &__container {
    padding-top: 64px;
    padding-bottom: 32px;
  }

  &__desc {
    @include mixins.text-style(
      var(--primary-color),
      var(--primary-font),
      var(--font-small),
      400
    );
    @include mixins.spacing(20px, left);
  }

  &__list {
    list-style-type: none;
    min-width: 150px;
  }

  &__copyright {
    @include mixins.text-style(
      var(--primary-color),
      var(--primary-font),
      var(--font-small),
      400
    );
    line-height: 20px;
  }

  &__link {
    display: inline-block;
    @include mixins.text-style(
      var(--primary-color),
      var(--primary-font),
      12px,
      600
    );
    line-height: 16px;
    border: 4px solid transparent;
    margin-bottom: 8px;

    &--medium {
      font-size: 20px;
    }

    &:hover {
      color: rgb(56 146 243 / 1);
      cursor: pointer;
    }

    &:focus {
      border: 4px solid rgb(56 146 243 / 1);
      border-radius: 5px;
      cursor: pointer;
    }

    &:active {
      color: rgb(0 84 182 / 1);
      cursor: pointer;
    }
  }

  &__wrapper-up {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  &__wrapper-items {
    display: flex;
    gap: 24px;
  }

  &__wrapper-down {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 96px;

    &::before {
      content: "";
      position: absolute;
      top: 62px;
      width: 100%;
      height: 2px;
      background: rgb(208 215 251 / 0.17);
    }
  }

  &__social {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

@include mixins.tablet {
  .footer {
    &__wrapper-up {
      gap: 36px;
      flex-direction: column;
    }
  }
}

@include mixins.phone {
  .footer {
    &__wrapper-down {
      flex-direction: column;
      gap: 20px;
    }
    &__social {
      justify-content: flex-start;
    }
  }
}
