@use "../base/mixins" as mixins;
.footer {
  background-color: rgb(26 25 37 / 1);

  &__desc {
    @include mixins.text-style(
      var(--primary-color),
      var(--primary-font),
      var(--font-small),
      400
    );
    @include mixins.spacing(20px, left);
  }

  &__list {
    list-style-type: none;
  }

  &__copyright {
    @include mixins.text-style(
      var(--primary-color),
      var(--primary-font),
      var(--font-small),
      400
    );
    @include mixins.spacing(20px, 0);
  }
  &__link {
    @include mixins.text-style(
      var(--primary-color),
      var(--primary-font),
      12px,
      600
    );
    @include mixins.spacing(16px, 0);

    border: 4px solid transparent;

    &--medium {
      font-size: 20px;
    }

    &:hover {
      color: rgb(56 146 243 / 1);
      cursor: pointer;
    }

    &:focus {
      border: 4px solid rgb(56 146 243 / 1);
      border-radius: 5px;
      cursor: pointer;
    }

    &:active {
      color: rgb(0 84 182 / 1);
      cursor: pointer;
    }
  }
}
