@use "../base/mixins" as *;

.main-banner {
  background-color: var(--background-dark);
  padding-top: 0;

  &__container {
    padding-block: 140px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-image:
      radial-gradient(
        51% 42% at 22% -4%,
        rgba(2, 101, 220, 0.5) 0%,
        rgba(2, 101, 220, 0) 100%
      ),
      url("/img/images/our-blog/main-cube-2x.webp");
    background-repeat: no-repeat;
    background-position: 90% 10%;
    background-size: contain;
  }

  &__group-btn {
    display: flex;
    gap: 16px;
  }

  &__title {
    @include title-style(left);
  }

  &__text {
    @include text-style(var(--primary-color), var(--primary-font), 20px, 500);
    line-height: 28px;
    text-align: left;
  }

  .binabox {
    color: var(--secondary-color);
    text-transform: uppercase;
  }

  &__wrapper-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__wrapper-stats {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  &__stats {
    margin: 0;
  }

  &__stats-title {
    @include text-style(
      var(--primary-color),
      var(--secondary-font),
      var(--font-large),
      400
    );
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    text-shadow: rgb(255 255 255 / 0.4) 0 4px 13px;
  }

  &__stats-desc {
    @include text-style(
      var(--card-text),
      var(--primary-font),
      var(--font-base),
      400
    );
    line-height: 24px;
    margin: 0;
    text-align: left;
  }
}

@include laptop {
  .main-banner {
    &__container {
      padding-block: 56px;
    }
  }
}

@include tablet {
  .main-banner {
    padding-top: 80px;
    &__container {
      padding-block: 64px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      background-image: radial-gradient(
        51% 42% at 22% -4%,
        rgba(2, 101, 220, 0.5) 0%,
        rgba(2, 101, 220, 0) 100%
      );
    }
    &__title {
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
    }

    &__text {
      font-weight: 500;
      font-size: 20px;
    }

    &__stats-title {
      font-size: 36px;
      line-height: 48px;
    }
  }
}

@include phone {
  .main-banner {
    &__container {
      padding-block: 32px;
    }

    &__title {
      font-size: 28px;
      line-height: 36px;
    }

    &__text {
      font-weight: 500;
      font-size: 20px;
      text-align: left;
    }

    &__stats-title {
      font-size: 28px;
      line-height: 36px;
    }

    &__group-btn {
      display: flex;
      flex-direction: column;
    }

    &__button {
      text-align: center;
    }
  }
}
