@use "../base/mixins" as mixins;

.our-team {
  &__list {
    list-style-type: none;
  }

  &__title {
    @include mixins.text-style(
      var(--text-color),
      var(--secondary-font),
      36px,
      400
    );
    @include mixins.spacing(48px, center);
    letter-spacing: -0.5px;
  }

  &__list-item {
    padding: 32px;
    background-color: var(--card-background);

    &:focus {
      border: 4px solid var(--button-color);
    }
  }
}
