@use "../base/mixins" as mixins;
.blog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px;

  &__title {
    @include mixins.text-style(
      var(--primary-color),
      var(--secondary-font),
      36px,
      400
    );
    @include mixins.spacing(48px, center);
    margin-bottom: 40px;
  }

  &__list {
    list-style-type: none;
  }

  &__list-item {
    background-color: var(--card-background);
    padding: 24px;
    display: flex;

    &:nth-child(2) .blog-card__image {
      object-fit: cover;
      object-position: 100% 20%;
    }

    &:nth-child(5) .blog-card__image {
      object-fit: cover;
      object-position: 100% 20%;
    }

    &:nth-child(3) .blog-card__image {
      object-fit: cover;
      object-position: 100% 40%;
    }

    &:nth-child(4) .blog-card__image {
      object-fit: cover;
      object-position: 100% 40%;
    }
  }

  &__button {
    margin-inline: auto;
  }
}
