.blog__title {
    color:rgba(248, 247, 255, 1);
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    font-size: 36px;
  }
  
  .blog__list-item {
    background-color:rgba(29, 28, 40, 1);
    padding: 24px;
  }
  
  .blog__list {
    list-style-type: none;
  }
  