:root {
  --primary-color: rgba(245, 248, 251, 1);
  --secondary-color: rgba(2, 101, 220, 1);
  --primary-font: "Poppins", Arial, sans-serif;
  --secondary-font: "Bakbak One", Arial, sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.header {
  background-color: rgba(13, 13, 21, 1);
  color: var(--primary-color);
}

.nav__list {
  list-style-type: none;
}

.nav__link {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  padding: 8px 20px;
  border: 4px solid transparent;
}

.nav__link:hover {
  color: rgb(56, 146, 243);
  cursor: pointer;
}

.nav__link:focus {
  color: var(--primary-color);
  border: 4px solid rgb(56, 146, 243);
  border-radius: 5px;
  cursor: pointer;
}

.nav__link:active {
  color: rgb(0, 84, 182);
  cursor: pointer;
}

.nav__link--selected {
  text-decoration-line: underline;
  text-decoration-color: var(--secondary-color);
}

.button {
  color: var(--primary-color);
  font-family: var(--primary-font);
  border: 2px solid rgba(208, 215, 251, 0.17);
  font-weight: 600;
  font-size: 18px;
  padding: 10px 24px;
  line-height: 28px;
  background: none;
}

.button--secondary {
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  
}

.button:hover {
  background-color: rgba(191, 197, 238, 0.12);
  cursor: pointer;
}

.button:focus {
  background-color: rgba(191, 197, 238, 0.12);
  border: 2px solid rgb(56, 146, 243);
  cursor: pointer;
}

.button:active {
  background-color: rgba(191, 197, 238, 0.12);
  border: 2px solid rgba(208, 215, 251, 0.17);
  cursor: pointer;
}

.button--secondary:hover {
  background-color: rgb(56, 146, 243);
  cursor: pointer;
}

.button--secondary:focus {
  border: 2px solid rgb(56, 146, 243);
  background: var(--secondary-color);
  cursor: pointer;
}

.button--secondary:active {
  background: rgb(0, 84, 182);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main {
  background-color: rgba(13, 13, 21, 1);
}

.main-banner__title {
  text-align: left;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: -0.5px;
  margin: 0;
}

.binabox {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.main-banner__text {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.main-banner__stats-term {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: -0.5px;
  text-align: left;
}

.main-banner__stats-desc {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.faq__title {
  color: rgba(248, 247, 255, 1);
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: center;
  text-transform: uppercase;
}

.catalog__title {
  color: rgba(248, 247, 255, 1);
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  font-size: 24px;
}

.catalog__list {
  list-style-type: none;
}

.catalog__list-item {
  background: rgba(29, 28, 40, 1);
  padding: 24px;
}

.product-card__price {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
}

.label {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--primary-font);
}

.label--updated {
  background-color: rgba(234, 56, 41, 1);
  color: var(--primary-color);
}

.blog__title {
  color: rgba(248, 247, 255, 1);
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  font-size: 36px;
}

.blog__list-item {
  background-color: rgba(29, 28, 40, 1);
  padding: 24px;
}

.blog__list {
  list-style-type: none;
}

.product-card__name {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.blog-card__article-writer {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.blog-card__date {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.blog-card__title {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
}

.blog-card__desc {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.about-us__title {
  color: rgba(248, 247, 255, 1);
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: center;
}

.about-us__desc {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.about-us__list-title {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.about-us__list-desc {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.about-us__list-item {
  padding: 32px;
  background-color: rgba(26, 25, 37, 1);
}

.member-card__dt {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.member-card__dd {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.member-card__social {
  list-style-type: none;
}

.faq__question {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.faq__answer {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.faq__list {
  list-style-type: none;
}

.footer {
  background-color: rgba(26, 25, 37, 1);
}

.footer__desc {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.footer__list {
  list-style-type: none;
}

.social__list {
  list-style-type: none;
}

.footer__copyright {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.banner__title {
  text-align: center;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: -0.5px;
  margin: 0;
}

.banner__link {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.banner__link--selected {
  color: rgba(231, 238, 247, 0.66);
}

.aside__title {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
}

.aside__link {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  border: 4px solid transparent;
  border-radius: 5px;
}

.aside {
  padding: 24px;
  background-color: rgba(29, 28, 40, 1);
}

.aside__list {
  list-style-type: none;
}

.aside__link:hover {
  color: rgba(56, 146, 243, 1);
  cursor: pointer;
}

.aside__link:focus {
  border: 4px solid rgba(56, 146, 243, 1);
  border-radius: 5px;
  cursor: pointer;
}

.aside__link:active {
  color: rgba(0, 84, 182, 1);
  cursor: pointer;
}

.link--bordered {
  border: 2px solid rgba(208, 215, 251, 0.17);
}

.page__frame-caption {
  color: rgba(248, 247, 255, 1);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.page__article-writer {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.page__date {
  color: rgba(239, 245, 250, 0.82);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.page__text {
  color: rgba(248, 247, 255, 1);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.page__text-highlight {
  color: rgba(120, 187, 250, 1);
}

.page__text-list {
  list-style-type: circle;
}

.page__text-list-item {
  color: rgba(248, 247, 255, 1);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.page__list-item {
  color: rgba(248, 247, 255, 1);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  list-style-type: none;
}

.page__list-item::marker {
  content: "+";
}

.page__title-list {
  list-style-type: none;
}

.page__title-link:hover {
  color: rgba(56, 146, 243, 1);
}

.page__title-link:focus {
  border: 4px solid rgba(56, 146, 243, 1);
  border-radius: 5px;
}

.page__title-link:active {
  color: rgba(0, 84, 182, 1);
}

.page__qoute {
  color: rgba(248, 247, 255, 1);
  font-family: var(--secondary-font);
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.page__qoute-mark {
  color: rgba(248, 247, 255, 1);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.mark {
  color: rgba(239, 245, 250, 0.82);
}

.blockquote-box {
  border-radius: 16px;
  background-color: rgba(0, 39, 84, 1);
}

.page__title-link {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.page__title {
  color: rgba(248, 247, 255, 1);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.our-team__list {
  list-style-type: none;
}

.our-team__title {
  color: rgba(248, 247, 255, 1);
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: center;
}

.our-team__list-item {
  padding: 32px;
  background-color: rgba(29, 28, 40, 1);
}

.our-team__list-item:focus {
  border: 4px solid rgb(56, 146, 243);
}

.faq__list-item {
  background-color: rgba(29, 28, 40, 1);
  padding: 24px 24px 32px 24px;
}

.footer__link {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border: 4px solid transparent;
}

.footer__link--medium {
  font-size: 20px;
}

.footer__link:hover {
  color: rgba(56, 146, 243, 1);
  cursor: pointer;
}

.footer__link:focus {
  border: 4px solid rgba(56, 146, 243, 1);
  border-radius: 5px;
  cursor: pointer;
}

.footer__link:active {
  color: rgba(0, 84, 182, 1);
  cursor: pointer;
}
