<section class="about-us">
        <h2 class="about-us__title">{{aboutUs.title}}</h2>
        <p class="about-us__desc">
          {{aboutUs.desc}}
        </p>
        {% include "partials/about-us-card.njk" %}

        {% set btnClass = "about-us__button button" %}
        {% set btnLink = aboutUs.button.link %}
        {% set btnLabel = aboutUs.button.label %}

        {% include "partials/button.njk" %}


  </section>