{% for stat in banner.stats %}
    <dl class="main-banner__stats">
        <dt class="main-banner__stats-title">{{ stat.term }}</dt>
        <dd class="main-banner__stats-desc">{{ stat.desc }}</dd>
    </dl>
{% endfor %}