<li class="blog__list-item">
            <article class="blog-card">
              <span class="blog-card__label label">{{ blog.label }}</span>
              <img
                class="blog-card__image"
                src="{{ blog.image }}"
                alt=" {{ blog.alt }}"
                width="736"
                height="664"
              />
              <p class="blog-card__article-writer">Tony Nguyen</p>
              <time class="blog-card__date" datetime="2022-06-20"
                >20 Jun 2022</time
              >
              <h3 class="blog-card__title">Sonic live</h3>
              <p class="blog-card__desc">
                One September 22, 2021 A volutpat nulla eros, nulla ultrices nec
                nulla imperdiet...
              </p>
              <a class="blog-card__button button button-tertiary" href="#"
                >Read more</a
              >
            </article>
          </li>