<ul class="blog__list">
  {% for blog in blog.blogCards %}
    {% set itemMod = '' %}
    {% set imageMod = '' %}
    {% if loop.first %}
      {% set itemMod = 'first-span' %}
    {% endif %}
    {% if loop.last %}
      {% set itemMod = 'last-span' %}
    {% endif %}

    {% if loop.index in[2, 5] %}
      {% set imageMod = 'pos20' %}
    {% elif loop.index in[3, 4] %}
      {% set imageMod = 'pos40' %}

    {% endif %}

    <li class="blog__list-item{% if itemMod %} blog__list-item--{{ itemMod }}{% endif %}">
      <article class="blog-card">
        <div class="blog-card__image-wrapper">
          <span class="blog-card__label label">{{ blog.label }}</span>
          <img
                    class="blog-card__image{% if imageMod %} blog-card__image--{{ imageMod }}{% endif %}"
                    src="{{ blog.image }}"
                    alt=" {{ blog.alt }}"
                    width="{{ blog.width }}"
                    height="{{ blog.height }}"
/>
        </div>
        <div class="blog-card__byline-wrapper">
          <p class="blog-card__article-writer">{{ blog.writer }}</p>
          <time class="blog-card__date" datetime="2022-06-20"
                    >{{ blog.date }}</time
                  >
        </div>
        <div class="blog-card__content-wrapper">
          <h3 class="blog-card__title">{{ blog.title }}</h3>
          <p class="blog-card__desc">
            {{ blog.desc }}
          </p>
        </div>

        {% set btnClass = "blog-card__button button" %}
        {% set btnLink = blog.button.link %}
        {% set btnLabel = blog.button.label %}
        {% include "partials/button.njk" %}

      </article>
    </li>
  {% endfor %}
</ul>