<div class="header__burger-toggle">
    <input class="header__burger-input visually-hidden" type="checkbox" id="burger-toggle"  >
    <label class="header__burger-label" for="burger-toggle"></label>
</div>