<section class="catalog">
  <h2 class="catalog__title">{{ catalog.title}}</h2>
  {% for button in catalog.button %}
    {% set btnClass = "catalog__button button" %}
    {% set btnLink = button.link %}
    {% set btnLabel = button.label %}
    {% include "partials/button.njk" %}
  {% endfor %}

  {% for arrow in catalog.arrow %}
    {% include "partials/arrow-button.njk" %}
  {% endfor %}

  {% include "partials/product-card.njk" %}
</section>