<section class="catalog">    
<h2 class="catalog__title">{{ catalog.title}}</h2>
        {% for button in catalog.button %}
        {% include "partials/button.njk" %}
        {% endfor %}
        {% for button in catalog.arrow %}
        {% include "partials/arrow-button.njk" %}
        {% endfor %}
      <ul class="catalog__list">
        {% for card in catalog.products %}
        {% include "partials/product-card.njk" %}
        {% endfor %}
      </ul>
  </section>