<section class="catalog">
  <div class="layout-container layout-container--flex">
    <div class="catalog__wrapper">
      <h2 class="catalog__title">{{ catalog.title}}</h2>
      <div class="catalog__group-btn">

        {% set btnClass = "catalog__button button" %}
        {% set btnLink = catalog.button.link %}
        {% set btnLabel = catalog.button.label %}
        {% include "partials/button.njk" %}

        {% for arrow in catalog.arrow %}
          {% if arrow.desc == "Right" %}
            {% set btnClass = "catalog__button button button--secondary button--arrow" %}
            {% set isFlipped = false %}
          {% else %}
            {% set btnClass = "catalog__button button button--arrow button--divider" %}
            {% set isFlipped = true %}
          {% endif %}
          {% include "partials/arrow-button.njk" %}
        {% endfor %}
      </div>
    </div>
    <ul class="catalog__list">
      {% for card in catalog.products %}
        <li class="catalog__list-item">
          {% include "partials/product-card.njk" %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>