<ul class="faq__list">
      {% for faq in faq.card %}
            <li class="faq__list-item">
                  <details class="faq__details">
                        <summary class="faq__question faq__question--open">
                              {{ faq.question}}
                        </summary>
                        <p class="faq__answer">
                              {{faq.answer}}
                        </p>
                  </details>
            </li>
      {% endfor %}
</ul>