<header class="header">
      {% include "partials/logo.njk" %}

      {% set navItems = navItems %}
      {% set navClass = "header__nav" %}

      {%for nav in navItems%}
      {% include "partials/nav.njk" %}
      {% endfor %}

      {% for button in headerButtons %}

      {% set btnLink = button.link %}
      {% set btnLabel = button.label %}

      {% if button.label == "Discord" %}
      {% set btnClass = "header__button button" %}
      {% endif %}

      {% if button.label == "Connect" %}
      {% set btnClass = "header__button button button--secondary" %}
      {% endif %}

      {% include "partials/button.njk" %}

      {% endfor %}
</header>