<section class="main-banner">
  <h1 class="main-banner__title">
    {{ banner.title1 }}
    <span class="binabox">{{ banner.span }}
    </span>
    {{ banner.title2 }}
  </h1>
  <p class="main-banner__text">
    {{ banner.subtitle }}
  </p>

  {% include "partials/banner-stats.njk" %}

  {% for button in bannerButton %}

    {% set btnLink = button.link %}
    {% set btnLabel = button.label %}

    {% if button.label == "Connect Wallet" %}
      {% set btnClass = "main-banner__button button button--secondary" %}
    {% endif %}

    {% if button.label == "Whitelist now" %}
      {% set btnClass = "main-banner__button button" %}
    {% endif %}

    {% include "partials/button.njk" %}

  {% endfor %}
</section>