<nav class="{{ navClass }} nav">
        <ul class="nav__list">  
                {%for nav in navItems%}            
                        <li class="nav__item">
                        <a class="nav__link{% if nav.state == 'selected' %} nav__link--selected{% endif %}" href="{{ nav.link }}">{{ nav.text}}</a>
                        </li>    
                {% endfor %} 
        </ul>      
</nav>     

        
 