<section class="blog">
    <div class="layout-container blog__container">
        <h2 class="blog__title">{{blog.title}}</h2>
        {% include "partials/blog-card.njk" %}

        {% set btnClass = "blog__button button" %}
        {% set btnLink = blog.button.link %}
        {% set btnLabel = blog.button.label %}
        {% include "partials/button.njk" %}
    </div>
</section>