<section class="our-team">
       <div class="our-team__container layout-container">
              <h2 class="our-team__title">{{ ourTeam.title }}</h2>
              {% include "partials/member-card.njk" %}
       </div>
</section>