<a href="#">
  <article class="product-card">
    <span class="product-card__label label {% if card.label == 'Sold out' %}label--updated{% endif %}">{{ card.label }}</span>
    <img
                class="product-card__image"
                src="{{ card.image }}"
                height="{{ card.height }}"
                width="{{ card.width }}"
                alt="{{ card.alt }}"
/>
    <div class="product-card__info">
      <p class="product-card__price">{{card.price}}</p>
      <p class="product-card__name">{{card.name}}</p>
    </div>
  </article>
</a>