<li class="catalog__list-item">
            <a href="#">
              <article class="product-card">
                <span class="product-card__label label">{{card.label}}</span>
                <img
                  class="product-card__image"
                  src="{{card.image}}"
                  height="324"
                  width="222"
                  alt="A stylized skeletal figure on a dark teal background"
                />
                <p class="product-card__price">{{card.price}}</p>
                <p class="product-card__name">{{card.name}}</p>
              </article>
            </a>
          </li>