<form class="{{ classForm }} search" action="https://some-url.com" method="get">
    <label class="search__label" for="search-input"></label>

    <input 
    class="search__input"
    type="text"
    name="search" 
    id="search-input" 
    placeholder="Search" 
    minlenght="2"
    maxlenght="8"
    required
/>
    <button class="search__button visually-hidden" type="submit"></button>
</form>