<form class="form__search search" action="https://some-url.com" method="post">
    <label class="search__label" for="search-input"></label>

    <input 
    class="search__input"
    type="text"
    name="search" 
    id="search-input" 
    placeholder="Search" 
    minlenght="2"
    maxlenght="8"
    required
/>
    <button class="form__search-button" type="sumbit"><img class="form__search-icon"src="/img/images/search.svg" alt="Search"></button>
</form>