<form class="search__button" action="https://some-url.com" method="post">
    <div class= "search__button-wrapper">
        <label class="search__label" for="search-input">
            <img 
      class="search__icon"
      src="/img/images/search.svg" 
      alt="Search icon" 
      width="20" 
      height="20"
/>
        </label>

        <input 
    class="search__input"
    type="text"
    name="search" 
    id="search-input" 
    placeholder="Search" 
    minlenght="2"
    maxlenght="8"
    required
    
/>
    </div>
    <p class="search__success">Field validation is successfull</p>
</form>