<aside class="aside">
    <div class="aside__wrapper">
        {% set catTitle = "Categories" %}
        <h3 class="aside__title">{{ catTitle }}</h3>

        <ul class="aside__list">
            {% set listClass = "aside__item" %}
            {% set linkClass = "aside__link" %}
            {% set linkBordered = false %}
            {% set Categories = Categories %}

            {% for item in Categories %}
                {% set showQuantity = true %}
                {% set category = item %}
                {% include "partials/blog/aside-list.njk" %}
            {% endfor %}
        </ul>
    </div>

    <div class="aside__wrapper">
        {% set tagTitle = "Tags" %}
        <h3 class="aside__title">{{ tagTitle }}</h3>

        <ul class="aside__list aside__list--bordered">
            {% set listClass = "aside__item" %}
            {% set asideClass = "aside__link" %}
            {% set linkBordered = true %}
            {% set Tags = Tags %}

            {% for item in Tags %}
                {% set showQuantity = false %}
                {% set category = item %}
                {% include "partials/blog/aside-list.njk" %}
            {% endfor %}
        </ul>
    </div>
</aside>