<aside class="page__aside aside">
    <h3 class="aside__title">{{ title }}</h3>
    {% set title = "Categories" %}
    {% set asideClass = "aside__link" %}
    {% set Categories = Categories %}
    {% include "partials/blog/aside-cat.njk" %}

    <h3 class="aside__title">{{ title }}</h3>
    {% set title = "Tags" %}
    {% set asideClass = "aside__link link link--bordered" %}
    {% set Tags = Tags %}
    {% include "partials/blog/aside-tag.njk" %}
</aside>