<aside class="page__aside aside">
          {% set title = "Categories" %}
          {% set list = Categories %}
          {% include "partials/blog/aside-list.njk" %}
          {% set title = "Tag" %}
          {% set list = Tag %}
          {% include "partials/blog/aside-list.njk" %}
        </aside>