<section class="banner">
  <div class="banner__container layout-container">
    <h1 class="banner__title">{{ bannerData.title }}</h1>
    <div class="banner__links">
      {% for btn in bannerData.links %}
        {% set btnClass = "banner__link banner__link--selected" if btn.name == "The Basilisks NFT" else "banner__link" %}
        {% set btnLink = btn.link %}
        {% set btnLabel = btn.name %}

        {%include "partials/button.njk"%}

      {% endfor %}
    </div>
  </div>
</section>