      <section class="banner">
        <h1 class="banner__title">{{ bannerData.title }}</h1>

        {% for btn in bannerData.links %}
            {% set btnClass = "nav__link nav__link--selected" if btn.name == "The Basilisks NFT" else "nav__link" %} {#This is the same way, as I would defined each button in header#}
            {% set btnLink = btn.link %}
            {% set btnName = btn.name %}

            {%include "partials/button.njk"%}

        {% endfor %}
      </section>