<figure class="page__frame page__frame--large">
    <img class="page__frame-image" src="{{item.path}}" alt="{{item.desc}}" width="1024" height="557"/>
    <figcaption class="page__frame-caption">{{item.caption}}</figcaption>
</figure>