{% for item in figureList %}
  <figure class="page__frame page__frame--medium">
    <img class="page__frame-image" src="{{ item.path }}" alt="{{ item.desc }}" width="500" height="394"/>
    <figcaption class="page__frame-caption">{{ item.caption }}</figcaption>
  </figure>
{% endfor %}