<figure class="article__figure">
    <img class="article__image" src="{{item.path}}" alt="{{item.desc}}" width="1024" height="557"/>
    <figcaption class="article__caption">{{item.caption}}</figcaption>
</figure>