{% for item in figureList %}
  <figure class="article__figure">
    <img class="article__image" src="{{ item.path }}" alt="{{ item.desc }}" width="550" height="394"/>
    <figcaption class="article__caption">{{ item.caption }}</figcaption>
  </figure>
{% endfor %}