<h2 class="article__title">{{ section.title }}</h2>
<a class="article__button button button--secondary" href="{{ section.button.link }}">{{ section.button.label }}</a>
<div class="article__byline">
    <p class="article__writer">{{ section.writer }}</p>
    <time class="article__date">{{ section.date }}</time>
</div>

{% for para in section.paragraphs %}
    <p class="article__text">
        {% if para.text1 %}
            {{ para.text1 }}
            <span class="article__text-highlight-attention">{{ para.span }}</span>
            {{ para.text2 }}
            <span class="article__text-highlight">{{ para.highlight }}</span>
            {{ para.text3 }}
        {% else %}
            {{ para.text }}
        {% endif %}
    </p>
{% endfor %}

<ul class="article__list">
    {% for item in section.list %}
        <li class="article__list-item">{{ item | safe }}</li>
    {% endfor %}
</ul>

<ul class="article__list">
    {% for item in section.bulletList %}
        <li class="article__list--item">{{ item }}</li>
    {% endfor %}
</ul>

<div class="article__quote quote">
    <p class="quote__text">{{ mainSection.quote.text }}</p>

    <p class="quote__raiting">
        <span class="quote__mark">{{ mainSection.quote.rating.main }}</span>
        <span class="quote__rating-divider">/</span>
        <span class="quote__rating-max">{{ mainSection.quote.rating.maximum }}</span>
        {{ mainSection.quote.author }}
    </p>
</div>