<h2 class="page__title">{{ section.title }}</h2>
<a class="page__title" href="{{ section.button.link }}">{{ section.button.label }}</a>
<p class="page__article-writer">{{ section.writer }}</p>
<time class="page__date">{{ section.date }}</time>

{% for para in section.paragraphs %}
    <p class="page__text">
        {% if para.text1 %}
            {{ para.text1 }}
            <span class="page__text-button button button--secondary">{{ para.span }}</span>
            {{ para.text2 }}
            <span class="page__text-highlight">{{ para.highlight }}</span>
            {{ para.text3 }}
        {% else %}
            {{ para.text }}
        {% endif %}
    </p>
{% endfor %}

<ul class="page__text-list">
    {% for item in section.list %}
        <li class="page__text-list-item">{{ item | safe }}</li>
    {% endfor %}
</ul>

<ul class="page__list">
    {% for item in section.bulletList %}
        <li class="page__list-item">{{ item }}</li>
    {% endfor %}
</ul>

<div class="blockquote-box">
    <blockquote class="page__qoute">“{{ section.quote.text }}”</blockquote>
    <p class="page__qoute-mark">
        <span class="mark">{{ section.quote.rating }}
        </span>
        {{ section.quote.author }}
    </p>
</div>