{% for section in sections %}
  <h2 class="page__title">{{ section.title }}</h2>

  {% for paragraph in section.paragraphs %}
    <p class="page__text">{{ paragraph }}</p>
  {% endfor %}
{% endfor %}
