<div class="article__shares-wrapper">
    <h4 class="article__footer-title">{{share.title}}</h4>
    <ul class="article__tags">
        {% for item in share.list %}
            <li class="article__tag">
                <a class="article__link link link--bordered" href="{{item.link}}"
                  ><img src="{{item.path}}" alt="{{item.desc}}"
/></a>
            </li>
        {% endfor %}
    </ul>
</div>