<h4 class="page__title">{{share.title}}</h4>
        <ul class="page__title-list">
            {% for item in share.list %}
            <li class="page__title-item">
            <a class="page__title-link link link--bordered" href="{{item.link}}"
              ><img src="{{item.path}}" alt="{{item.desc}}"
            /></a>
          </li>  
        {% endfor %}
          
        </ul>