{% extends "layouts/base.njk" %}

{% block content %}
  <main class="main">

    {% set bannerData = banner %}
    {% include "partials/blog/banner.njk" %}

    <section class="page layout-container">
      {% set Categories = Categories %}
      {% include "partials/blog/aside.njk" %}

      <article class="article">
        {% set item = figure %}
        {% include "partials/blog/figure.njk" %}

        {% set section = mainSection %}
        {% include "partials/blog/main.njk" %}

        <div class="article__images">
          {% set figureList = figureList %}
          {% include "partials/blog/figure2.njk" %}
        </div>

        {% set sections = sections %}
        {% include "partials/blog/section.njk" %}
        <div class="article__footer">
          {% include "partials/blog/tags.njk" %}

          {% include "partials/blog/share.njk" %}
        </div>
      </article>
    </section>
  </main>
{% endblock %}