{% extends "layouts/base.njk" %}
{% include "partials/header.njk" %}
{% block content %}
  {% include "partials/blog/banner.njk" %}    
<section class="page">
{% for aside in asides %}
  {% set title = aside.title %}
  {% set list = aside.list %}
  {% include "partials/blog/aside.njk" %}
{% endfor %}

{% include "partials/blog/figure.njk" %}
{% set section = mainSection %}
{% include "partials/blog/main.njk" %}
 {% set figureList = figureList %}
{% include "partials/blog/figure2.njk" %}
        <h2 class="page__title">
          NFTs are digital assets that represent real-world objects
        </h2>
        <p class="page__text">
          Setting up your avatar and personalizing your nickname on Binance is
          quick and easy. Users can go to binance.com under Dashboard > Settings
          > My Profile > Avatar and Nickname. For those of you who own NFT
          assets, you can select the NFT you want to use from your collection as
          your avatar to personalize your profile. For users who do not own any
          NFT avatars, check out the NFT avatar collections page to get started.
        </p>
        <p class="page__text">
          Alternatively, if you’re on nft.binance.com, go to User Center >
          Settings > Basic > Set Avatar and Nickname, and you’ll be redirected
          to the page site. Binance NFT Creators have the option of setting
          their Avatars on nft.binance.com. Once you set your new unique
          nickname, it will be standardized and used across the Binance
          ecosystem.
        </p>
        <h2 class="page__title">NFT Avatar Generators</h2>
        <p class="page__text">
          You can find a range of NFT marketplaces where you can buy existing
          NFTs or list your own NFTs for sale.
        </p>
        <h4 class="page__title">Tags:</h4>
        <ul class="page__title-list">
          <li class="page__title-item">
            <a class="page__title-link link link--bordered" href="#">NFT</a>
          </li>
          <li class="page__title-item">
            <a class="page__title-link link link--bordered" href="#">ICO</a>
          </li>
          <li class="page__title-item">
            <a class="page__title-link link link--bordered" href="#">Crypto</a>
          </li>
        </ul>
        <h4 class="page__title">Share:</h4>
        <ul class="page__title-list">
          <li class="page__title-item">
            <a class="page__title-link link link--bordered" href="#"
              ><img src="#" alt="Twitter"
            /></a>
          </li>
          <li class="page__title-item">
            <a class="page__title-link link link--bordered" href="#"
              ><img src="#" alt="Facebook"
            /></a>
          </li>
          <li class="page__title-item">
            <a class="page__title-link link link--bordered" href="#"
              ><img src="#" alt="Instagram"
            /></a>
          </li>
        </ul>
      </section>
    </main>
    {% endblock %}