{% extends "layouts/base.njk" %}

{% block content %}
    <main class="main">
        <section>
            {% set bannerData = banner %}
            {% include "partials/blog/banner.njk" %}
        </section>
        <section>
            {% include "partials/contact-us/contact-info.njk" %}
        </section>
        <section>
            {% include "partials/contact-us/contact-form.njk" %}
        </section>
    </main>
{% endblock %}