.page__article-writer {
  color: var(--card-text);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.page__date {
  color: var(--card-text);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.page__text {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.page__text-highlight {
  color: rgba(120, 187, 250, 1);
}

.page__text-list {
  list-style-type: circle;
}

.page__text-list-item {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.page__list-item {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  list-style-type: none;
}

.page__list-item::marker {
  content: "+";
}

.page__title-list {
  list-style-type: none;
}
.page__title-link {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: var(--font-small);
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.page__title-link:hover {
  color: rgba(56, 146, 243, 1);
}

.page__title-link:focus {
  border: 4px solid rgba(56, 146, 243, 1);
  border-radius: 5px;
}

.page__title-link:active {
  color: rgba(0, 84, 182, 1);
}

.page__title {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: var(--font-base);
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
