:root {
  --primary-color: rgb(245 248 251);
  --secondary-color: rgb(2 101 220);
  --background-dark: rgba(13 13 21);
  --card-text: rgb(239 245 250 / 0.82);
  --button-color: rgb(56 146 243);
  --card-background: rgb(29 28 40);
  --btn-background: rgba(191 197 238 / 0.12);
  --border-color: rgb(208 215 251 / 0.17);
  --primary-font: "Poppins", arial, sans-serif;
  --secondary-font: "Bakbak One", arial, sans-serif;
  --spacing-none: 0;
  --font-base: 16px;
  --font-small: 14px;
  --font-large: 52px;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul,
ol,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.site-wrapper {
  max-width: 1728px;
  margin: 0 auto;
}
