:root {
    --primary-color: rgb(245 248 251 / 1);
    --secondary-color: rgb(2 101 220 / 1);
    --primary-font: "Poppins", arial, sans-serif;
    --secondary-font: "Bakbak One", arial, sans-serif;
  }
  