// colors
$primary-color: rgb(245 248 251);
$secondary-color: rgb(2 101 220);
$text-color: rgb(248 247 255);
$background-dark: rgba(13 13 21);
$card-text: rgb(239 245 250 / 0.82);
$button-color: rgb(56 146 243);
$card-background: rgb(29 28 40);
$btn-background: rgba(191 197 238 / 0.12);
$border-color: rgb(208 215 251 / 0.17);

// font
$primary-font: "Poppins", arial, sans-serif;
$secondary-font: "Bakbak One", arial, sans-serif;

// spacing
$spacing-none: 0;

// font size
$font-base: 16px;
$font-small: 14px;
$font-medium: 28px;
$font-large: 52px;
